<!--adjust pathes to your environment//-->
<environment>
	<config type="generic">
		<msbuild>C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\MSBuild\15.0\Bin\msbuild.exe</msbuild>
	</config>
	
	<config type="transpiler">
		<prj-path>d:\git\other\WDL2CS\code</prj-path>
		<vsproj>WDL2CS.csproj</vsproj>
		<out-path>out</out-path>
	</config>

	<config type="api">
		<prj-path>d:\git\other\AcknexCSApi\Acknex3Api</prj-path>
		<vsproj>Acknex3Api.csproj</vsproj>
		<out-path>out</out-path>
	</config>
</environment>